
/* Floating Icon */

.chatbot-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: transparent;
    color: white;
    width: 5.5%;
    height: 11%;
    min-width: 35px;
    border-radius: 50%;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3
}
.chatbot-icon img{
    max-width: 100%; 
    height: auto;

}

/* Chatbox */

.chatbot {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 25px;
    width: 25%;
    max-width: 350px;
    min-width: 200px;
    height: auto;
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.4s ease;
    z-index: 3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Header */

.chat-header {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.chat-header button{
    background-color: linear-gradient(135deg, #6a11cb, #2575fc);
    opacity: 0.5;
    border-radius: 50%;
    border-color: transparent;
    width: 7%;
    min-width: 20px-;
}

/* Body */

.chat-body {
    height: 320px;
    padding: 15px;
    overflow-y: auto;
}


/* Messages */

.bot-msg,
.user-msg {
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 16px;
    max-width: 80%;
    animation: pop 0.3s ease;
}

@keyframes pop {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.bot-msg {
    background: #f1f3f6;
    color: #333;
}

.user-msg {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    margin-left: auto;
}


/* Footer */

.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-footer input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    background: #f1f3f6;
    width: 80%;
}

.chat-footer button {
    margin-left: 8px;
    border: none;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 10px 14px;
    border-radius: 50%;
    cursor: pointer;
}